@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  max-height: 100%;
}

button {
  font: inherit;
}

body {
  font-family: "Montserrat", sans-serif;
  color: #002051;
}

.body-wrapper {
  width: 1440px;
  margin: auto;
  position: relative;
}

.attrs {
  width: 848px;
  margin-bottom: 40px;
}
.attrs_info {
  width: 393px;
}
.attrs_info .attr__name {
  width: 257px;
}
.attrs_detail {
  width: 848px;
  display: flex;
  justify-content: space-between;
}

.attr {
  display: flex;
  margin-bottom: 10px;
  height: 23px;
}
.attr:last-of-type {
  margin-bottom: 0;
}
.attr__name {
  font-size: 16px;
  width: 250px;
}
.attr_detail .attr__name {
  font-weight: 400;
  line-height: 22.4px;
  color: #99A6B9;
}
.attr_using .attr__name {
  line-height: 22px;
}
.attr__value {
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
}
.attr__link {
  text-decoration: underline;
  font-weight: 400;
  line-height: 22.4px;
  font-size: 16px;
  margin-left: 10px;
  cursor: pointer;
}
.attr__link:hover {
  color: #0AAEDD;
}

.btn {
  cursor: pointer;
  border: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 2px;
  background: #002051;
}
.btn_catalog {
  width: 127px;
  height: 40px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}
.btn_catalog:before {
  content: "";
  width: 16px;
  height: 12px;
  background: url("./icons/menu_hamburger.svg") 50% 50% no-repeat;
  background-size: cover;
  margin-right: 12px;
}
.btn_cart {
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  width: 157px;
  height: 50px;
  text-transform: uppercase;
}
.btn_cart:hover {
  background: #B70F25;
}
.btn_modal-cart {
  width: 100%;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  background: #E83850;
  height: 50px;
}

.product-price {
  display: flex;
}
.product-price__current-price {
  color: #DE2F46;
}
.product-price__old-price {
  color: #99A6B9;
  text-decoration: line-through;
}

.header {
  border-bottom: 1px solid #EAF9FC;
  padding: 20px 94px 10px 94px;
  margin-bottom: 40px;
}
.header__top {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}
.header__bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__phone-link {
  color: #002051;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  text-decoration: none;
}
.header__search {
  position: relative;
}
.header__search:after {
  content: "";
  width: 20px;
  height: 20px;
  background: url("./icons/search_btn.svg") 50% 50% no-repeat;
  background-size: 16px;
  position: absolute;
  right: 18px;
  top: 10px;
}
.header__search-input {
  border: 1px solid #002051;
  border-radius: 4px;
  height: 40px;
  padding: 10px 50px 7px 20px;
  opacity: 0.7;
  width: 813px;
  font-size: 16px;
  line-height: 22px;
}
.header__search-input::placeholder {
  color: #99A6B9;
}
.header__btns {
  width: 90px;
  display: flex;
  justify-content: space-between;
}
.header__btn {
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.header__btn_profile {
  background: url("./icons/profile_btn.svg") 50% 50% no-repeat;
}
.header__btn_cart {
  background: url("./icons/cart_btn.svg") 50% 50% no-repeat;
  position: relative;
}
.header__count-in-cart {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #E83850;
  position: absolute;
  right: 0;
  top: 0;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 12px;
  line-height: 8px;
}

.menu__list {
  list-style: none;
  display: flex;
}
.menu__item {
  font-size: 16px;
  line-height: 22px;
  color: #002051;
  margin-right: 15px;
}
.menu__item:last-of-type {
  margin-right: 0;
}
.menu__link {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.breadcrumbs {
  margin-bottom: 40px;
  height: 23px;
}
.breadcrumbs__list {
  list-style: none;
  display: flex;
}
.breadcrumbs__item {
  font-size: 16px;
  line-height: 22px;
  color: #002051;
}
.breadcrumbs__item:not(:last-of-type):after {
  content: "/";
  margin: 0 3px;
}
.breadcrumbs__link {
  color: inherit;
  text-decoration: none;
}
.breadcrumbs__current-page {
  color: #99A6B9;
}

.main {
  padding: 0 94px 0 94px;
}

.product-card {
  padding-bottom: 115px;
}
.product-card__title {
  color: #002051;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 10px;
  height: 40px;
}
.product-card__product-id {
  font-weight: 400;
  font-size: 16px;
  line-height: 22.4px;
  color: #002051;
  margin-bottom: 40px;
  height: 23px;
}
.product-card__main {
  display: flex;
  align-items: flex-start;
  margin-bottom: 100px;
}
.product-card__image-wrap {
  width: 503px;
  height: 503px;
  margin-left: 107px;
}
.product-card__info {
  margin-left: 139px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
  border-radius: 2px;
  padding: 20px;
}
.product-card__current-model-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  height: 23px;
  margin-bottom: 20px;
}
.product-card__model-btns {
  display: flex;
  margin-bottom: 40px;
}
.product-card__model-btn {
  background: #002051;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 138px;
  height: 50px;
  font-size: 16px;
  line-height: 22px;
  color: white;
  cursor: pointer;
}
.product-card__model-btn:first-of-type {
  margin-right: 20px;
}
.product-card__model-btn:hover {
  color: #002051;
  background: white;
  border: 1px solid #002051;
}
.product-card__price {
  margin-bottom: 40px;
  display: flex;
  height: 40px;
}
.product-card__current-price {
  font-weight: 500;
  font-size: 32px;
  line-height: 39px;
  color: #DE2F46;
  margin-right: 20px;
}
.product-card__old-price {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.product-card-section__title {
  line-height: 22.4px;
  font-size: 18px;
  font-weight: 500;
  border-bottom: 2px solid #002051;
  padding: 0 10px 5px 10px;
  display: inline-block;
  margin-bottom: 35px;
  height: 30px;
}
.product-card-section__subtitle {
  font-size: 18px;
  font-weight: 500;
  line-height: 20.84px;
  margin-bottom: 22px;
  height: 21px;
}

.footer {
  width: 100%;
  padding: 87px 419px 88px 201px;
  background: #002051;
  color: white;
}
.footer__title {
  margin-bottom: 28px;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  height: 30px;
}

.contact-form__text {
  margin-bottom: 32px;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
}
.contact-form__fields {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 55px;
}
.contact-form__field {
  display: flex;
  flex-direction: column;
  width: calc(50% - 14px);
}
.contact-form__label {
  color: #99A6B9;
  font-size: 10px;
  font-weight: 500;
}
.contact-form__input {
  border: 0;
  border-bottom: 1px solid #99A6B9;
  background: transparent;
  padding: 5px 0;
  outline: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: white;
}
.contact-form__input:focus {
  border-color: white;
}
.contact-form__input::placeholder {
  color: #99A6B9;
}
.contact-form__button {
  cursor: pointer;
  border: 0;
  color: #002051;
  text-align: center;
  padding: 15px 0;
  width: 100%;
  display: block;
  background: white;
  border-radius: 2px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.modal {
  position: fixed;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
  border-radius: 2px;
  padding: 20px;
  background: white;
  width: 595px;
  display: none;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.modal.open {
  display: block;
}

.modal-cart__header {
  margin-bottom: 40px;
}
.modal-cart__full-price {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #DE2F46;
  margin-left: 10px;
}
.modal-cart__products-list {
  list-style: none;
}

.product-modal {
  height: 110px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
.product-modal:not(:last-of-type) {
  border-bottom: 1px solid #EAF9FC;
}
.product-modal__image {
  width: 100px;
  height: 100%;
}
.product-modal__info {
  width: 311px;
}
.product-modal__title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}
.product-modal__price {
  margin-bottom: 10px;
}
.product-modal__condition {
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
}
.product-modal__actions {
  width: 104px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}
.product-modal__delete-btn {
  width: 30px;
  height: 30px;
  background: url("./icons/delete_btn.svg") 50% 50% no-repeat;
}
.product-modal__item-counter {
  width: 100%;
  height: 50px;
  padding: 15px;
  border: 1px solid #002051;
  border-radius: 0px 2px 2px 0px;
}

.item-counter {
  display: flex;
  justify-content: space-between;
}
.item-counter__btn {
  width: 20px;
  height: 20px;
}
.item-counter__btn_add {
  background: url("./icons/item_counter/add.svg") 50% 50% no-repeat;
}
.item-counter__btn_remove {
  background: url("./icons/item_counter/remove.svg") 50% 50% no-repeat;
}
.item-counter__current-count {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.product-price_modal-cart .product-price__current-price {
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  margin-right: 10px;
}
.product-price_modal-cart .product-price__old-price {
  font-weight: 600;
  font-size: 10px;
  line-height: 14px;
}