.modal{
  position:fixed;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
  border-radius: 2px;
  padding:20px;
  background:white;
  width:595px;
  display:none;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  &.open{
    display:block;
  }
}

.modal-cart{



  &__header{
    margin-bottom:40px;
  }

  &__full-price{
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #DE2F46;
    margin-left:10px;
  }

  &__products-list{
    list-style: none;
  }



}

.product-modal{
//  border-top:1px solid #EAF9FC;
  height:110px;
  display:flex;
  justify-content: space-between;
  padding-bottom:10px;
  margin-bottom: 10px;

  &:not(:last-of-type){
    border-bottom:1px solid #EAF9FC;
  }

  &__image{
    width:100px;
    height:100%;
  }

  &__info{
    width:311px;
  }

  &__title{
    margin-bottom:10px;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
  }

  &__price{
    margin-bottom:10px;
  }

  &__condition{
    font-size:14px;
    line-height: 20px;
    font-weight:600;
  }

  &__actions{
    width: 104px;
    height: 100px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
  }

  &__delete-btn{
    width:30px;
    height:30px;
    background:url('/icons/delete_btn.svg') 50% 50% no-repeat;
  }

  &__item-counter{
    width:100%;
    height:50px;
    padding: 15px;
    border: 1px solid $base-color;
    border-radius: 0px 2px 2px 0px;
  }


}


.item-counter{
  display: flex;
  justify-content: space-between;


  &__btn{
    width:20px;
    height:20px;

    &_add{
      background:url('/icons/item_counter/add.svg') 50% 50% no-repeat;
    }

    &_remove{
      background:url('/icons/item_counter/remove.svg') 50% 50% no-repeat;
    }
  }

  &__current-count{
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
  }

}

.product-price_modal-cart{
  .product-price__current-price{
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    margin-right:10px;
  }

  .product-price__old-price{
    font-weight: 600;
    font-size: 10px;
    line-height: 14px;
  }
}
